.firstInput {
    background-color: black;
    color: white;
    width: 10rem;
    height: 2rem;
    border: 1px solid black;
}

.secondInput {
    margin-top: 1rem;
    width: 10rem;
    height: 2rem;
    border: 1px solid black;

}

button {
    margin-top: 1rem;
    width: 10rem;
    height: 2rem;
    border: 1px solid black;
    font-size: 1rem;

}